:root {
  --white: white;
  --black: black;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  margin-top: 1rem;
  margin-bottom: 10px;
}

.page-wrapper {
  overflow: hidden;
}

.content {
  overflow: visible;
}

.full-size-wrapper {
  width: 100svw;
  height: 100svh;
  position: relative;
  overflow: visible;
}

.bg-image1 {
  background-image: url('../images/PURPLE.png.webp');
  background-size: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider_container {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.image-2 {
  box-sizing: content-box;
  aspect-ratio: auto;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  transform: scale(1.15);
}

.body {
  color: #fff;
  font-family: ivypresto-headline, sans-serif;
  font-size: 20px;
  overflow: hidden;
}

.left-arrow, .right-arrow, .slide-nav {
  display: none;
}

.slider {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider.overlay {
  z-index: 3;
  opacity: .78;
  mix-blend-mode: multiply;
  width: 120%;
  height: 120%;
  margin-bottom: 10%;
  transition: opacity .2s;
  display: block;
  position: absolute;
  overflow: visible;
  transform: scale(1.151);
}

.mouse-hover {
  z-index: 5;
  opacity: 1;
  mix-blend-mode: difference;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading {
  opacity: 1;
  color: #333;
  mix-blend-mode: difference;
  font-family: Varela Round, sans-serif;
  font-size: 107px;
  font-weight: 400;
}

.slide {
  transform: translate(1.15px, 1.15px);
}

.main-content {
  z-index: 5;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.main_image {
  filter: invert();
  width: 32vw;
  margin-left: auto;
  margin-right: auto;
}

.text-block {
  text-align: center;
  width: 50vw;
}

.desc {
  text-align: center;
  mix-blend-mode: normal;
  width: 40vw;
  font-size: 1.25rem;
  line-height: 1.25;
}

.button {
  opacity: 1;
  color: var(--white);
  text-transform: uppercase;
  mix-blend-mode: normal;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 12px 22px;
  font-size: 1.25rem;
  transition: all .4s cubic-bezier(.645, .045, .355, 1);
}

.button:hover {
  color: var(--black);
  text-transform: uppercase;
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
}

.social_icons {
  z-index: 6;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 2.5rem;
  margin-right: 2rem;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.icon-embed-xsmall {
  outline-offset: 0px;
  outline-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  transition: filter .2s ease-in-out;
  display: flex;
}

.icon-embed-xsmall:hover {
  filter: invert();
}

.loading_bar {
  align-items: center;
  width: 5px;
  height: 100%;
  margin-right: 2rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.loading_bar_block {
  mix-blend-mode: soft-light;
  background-color: #000;
  border-radius: 20px;
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 5px;
  height: 200px;
  display: flex;
}

.loading_white {
  background-color: #fff;
  border-radius: 20px;
  height: 29%;
}

.logo-wrapper {
  padding-top: 2rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.image-3 {
  max-width: 31%;
}

.left-side-names {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.list {
  z-index: 5;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  list-style-type: none;
  display: flex;
  position: relative;
}

.list-item {
  font-family: ivypresto-headline, sans-serif;
  font-style: italic;
  font-weight: 600;
}

.tb {
  text-transform: uppercase;
  cursor: default;
  mix-blend-mode: difference;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.date_wrapper {
  margin-top: 1rem;
  margin-right: 1rem;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.text-block-2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
}

.spacer {
  margin-top: 0;
}

@media screen and (max-width: 991px) {
  .main-content {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    padding: 2rem;
  }

  .main_image {
    margin-left: 0;
  }

  .button {
    display: block;
  }

  .button.cta, .social_icons {
    display: none;
  }

  .social_icons.responsive {
    flex-flow: column;
    margin-bottom: 2rem;
    display: flex;
  }

  .left-side-names {
    width: 100%;
    padding-right: 2rem;
    position: relative;
  }

  .text-block-2 {
    font-size: 1.5rem;
  }

  .cta_responsive {
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: inline-block;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  .main_image {
    width: 60vw;
  }

  .list {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .list-item {
    margin-top: auto;
    margin-bottom: auto;
  }

  .tb {
    font-size: 4vh;
  }

  .text-block-2 {
    text-align: right;
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .main-content {
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .main_image {
    width: 70vw;
  }

  .desc {
    width: 80vw;
    font-size: 1rem;
  }

  .button {
    padding: .75rem 1rem;
    font-size: 1rem;
  }

  .social_icons {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .loading_bar {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5px;
    margin-right: 0;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .loading_bar_block {
    height: 100vw;
    transform: rotate(90deg);
  }

  .list {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    justify-content: space-around;
    display: flex;
  }

  .list-item {
    margin-top: auto;
    margin-bottom: auto;
  }

  .tb {
    mix-blend-mode: normal;
    font-size: 3vh;
  }
}


